.diente {
    margin-top: 5%;
    margin-bottom: 5%;
}

.result{
    margin-top: 5%;
}

span {
    display: flex;
    align-items: center;
}

.placeholder{
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.segundoDiv{
    display: flex;
    border: 2px solid green;
}

.divs{
    display: flex;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.diametroPrimitivoDisplay{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid red;
    p{
        margin-left: 10px;
    }
}